body {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    color: #0c100f;
    background-color: #fcf6e8;
}

#corpus {
    width: 100%;
    min-width: 1500px;
}

table { 
    border-collapse: collapse; 
}

th {
    vertical-align: top;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
}

tr { 
    border: none; 
}

td, th {
    border-right: solid 2px black; 
    border-left: solid 2px black;
    word-wrap: break-word;
}

td {
    vertical-align: middle;
    text-align: center;
    border-bottom: solid 2px black;
}

table img {
    width: 50px;
}

table p {
    margin: 4px 0 0 0;
}

table th div p {
    margin: 0;
}

.no-border {
    border: none;
}

.filter-item-number {
    margin: 6px;
    background-color: lightgrey;
    border-radius: 10px;
}

.filter-item-selectable {
    margin: 6px;
    background-color: lightgrey;
    border-radius: 10px;
    opacity: 0.5;
}

.filter-item-selectable:hover {
    background-color: grey;
}

.selected {
    opacity: 1;
}